html {
    display: flex;
    justify-content: center;
    align-content: center;
}

body {
    text-align: center;
    font-family: 'IBM Plex Sans', sans-serif;
    position: relative;
}

h1, h2, p {
    color: white;
    text-shadow: 1px 1px gray;
}

h1 {
    font-size: 3.5em;
}

#codeBlock {
    border: 2px solid black;
    border-radius: 15px;
    padding: 15px;
    position: relative;
    top: 15px;
}
